<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the request is NOT for publicdirectory, route through root index.php
    RewriteCond %{REQUEST_URI} !^/LMS-Misdinar/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
